@import url('boxing.css');

/* My Styles */

/* 0,0,0,1*/

body {
    font-family: 'Boxing-Regular';
    background-color: red;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

img {
    width: 60vh;
    height: 40vh;
    border-radius: 20px;
}



/* 0,0,0,2*/

body h1 {
    font-family: 'Boxing-Regular';
}

.homepage-button {
    background-color: aliceblue;
    height: 50px;
    border-radius: 30px;

}

.github-button {
    background-color: black;
    margin-left: 20px;
    height: 50px;
    border-radius: 10px;
}

.linkedin-button {
    background-color: blue;
    margin-left: 20px;
    height: 50px;
    border-radius: 10px;
}

li {
    position: relative;
    bottom: 25px;
}

nav {
    height: 70px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-logo {
    position: relative;
    right: 200px;
}